/* ProductGrid.css */
  .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
}

.product-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 3px solid #10b981;
}

.product-card:hover {
  transform: translateY(-5px);
}

.manage-button {
  margin-top: 10px;
}

.product-header {
  align-items: center; 
  justify-content: space-between; 
  gap: 15px;
}

.product-category {
  font-size: 0.8rem;
}

.product-image {
  /* width: 100%; */
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.product-footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.product-price {
  font-weight: bold;
}

.manage-button {
  background-color: #10b981;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.manage-button:hover {
  background-color: #059669;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.quantity-btn {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.quantity-value {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-actions {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.detail-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled
{
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: auto; 
}