.finalcart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    padding: 20px 11px 0px;
    border: 3px solid #10b981;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
    background-color: #1F06D4;
    /* transform: translateX(-100%);
    transition: transform 0.98s cubic-bezier(0.2, 1, 0.2, 1); */
}

.finalcart-active{
    right: 0;
    /* transform: translateX(0); */
}

.finalcart-title{
    text-align: center;
    font-size: 30px;
}

.finalcart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 12px;
}

.finalcart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}

.finalcart-detail
{
    display: grid;
    gap: 8px;
    margin-right: auto;
}

.finalcart-product-title
{
    font-size: 16px;
    line-height: 1;
}
.finalcart-price
{
    font-weight: 500;
}

.finalcart-quantity
{
    display: flex;
    width: 100px;
}

.finalcart-remove
{
    /* font-size: 25px; */
    cursor: pointer;
}

.total
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-top: 1px solid #fff; */
    margin-top: 20px;
    font-size: 14px;
    /* padding-top: 15px; */
}

.total-price
{
    margin-left: 10px;
    font-weight: 600px;
}

.btn-buy
{
    display: block;
    padding: 10px 30px;
    background: #e35f26;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
    width: auto;
}
.btn-buy:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#finalcart-close
{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.finalcart-detail button
{
    width: auto;
}