ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
}

.glass-nav {
  /* border-bottom: 3px solid #10b981; */
  backdrop-filter: blur(12px);
  padding: 20px 120px;
  background-color: #1d668d;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-item {
  position: relative;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  transition: color 0.3s;
}

/* Submenu Styles */
.nav-item .nav-list {
  position: absolute;
  top: 100%;
  left: -20px;
  flex-direction: column;
  min-width: 210px;
  gap: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-out;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

/* Show submenu on hover */
.nav-item:hover > .nav-list {
  opacity: 1;
  visibility: visible;
  border-bottom: #00d2ff 2px solid;
  margin-top: 13px;
  background-color: #194e6c;
}

.nav-item .nav-list a {
  display: block;
  padding: 15px 25px;
  font-size: 0.9rem;
}

.nav-item .nav-list a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #00d2ff;
}
