/* Header.css */

.site-header {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  border-bottom: 3px solid #10b981; /* A nice accent color */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo Styling */
.site-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffff;
}

.site-logo i {
  margin-right: 8px;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  flex: 1; /* Allows the search bar to grow */
  max-width: 500px;
  margin: 0 40px;
}

.search-bar input {
  padding: 10px 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px 0 0 8px;
  width: 100%;
  font-size: 1rem;
}
::placeholder {
  color: white;
  opacity: 0.5;
}
.search-bar input:hover, input:focus {
    outline: none;
}

.search-button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: auto;
}

.ri-search-line
{
  background-color: transparent;
}

.search-button:hover {
  background-color: #1729cb94 !important;
}

.ri-search-line:before
{
  color: black;
}

.cart-icon, a:hover, .ri-lg {
  cursor: pointer;
}

/* Basic Responsiveness */
@media (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    gap: 15px;
  }
  .search-bar {
    order: 3;
    width: 100%;
    margin: 0;
  }
}

.ri-shopping-bag-line{
    cursor: pointer;
}

/* Login Profile CSS */
.user-profile-area {
    position: relative; 
    display: inline-block;
}

.user-dropdown-menu {
    position: absolute; 
    right: 0;
    top: 100%; 
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #1F06D4;
}

.user-dropdown-menu p {
    margin: 5px 0;
    border-bottom: 2px solid white;
    padding: 7px 0px;
}

.user-dropdown-menu a {
    cursor: pointer;
}

.user-dropdown-menu button {
    margin-top: 10px;
    width: 100%;
}