.content-area button {
  width: auto;
}

button {
  padding: 15px;
  border-radius: 5px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #00b4d9;
  font-size: 16px;
  width: 80px;
}

.css-b62m3t-container {
  padding-top: 5px;
}

details {
  padding: 10px;
  text-align: left;
}

summary {
  cursor: pointer;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #194e6c;
}

/* Style the content when the details element is open */
details[open] .content {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.homeDiv {
  padding: 0.5rem 0.5rem;
}

.subHomeDiv {
  padding: 0.5rem 5.5rem;
}

.search {
  display: flex;
  justify-content: space-between;
}

.search input {
  padding: 0 5px;
  height: 30px;
  border: 1px solid #194e6c;
  border-radius: 5px;
}

.search input :focus {
  border: 1px solid #00b4d9;
}

.listbutton {
  padding: 8px 10px;
  margin: 5px;
}

.rdt_TableHeadRow {
  background-color: transparent !important;
  padding-left: 10px;
  border-bottom: #00d2ff 2px solid !important;
}

.rdt_TableRow .lknooH {
  padding: 0px;
  margin: 0px;
}

.listbutton button {
  padding: 5px 10px;
  margin: 0px;
  width: 80px;
}

.rdt_TableCol {
  padding: 0px !important;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.subcat-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}

.product-list h3 {
  margin-right: 10px;
}

.product-list i {
  cursor: pointer;
}

.irAvtw,
.ekcsgb,
.fbuBwg {
  background-color: transparent !important;
}


/* .rdt_Pagination select {
  background-color: transparent !important;
  color: #fff !important;
}

.rdt_Pagination select option {
  color: #fff !important;
}

.rdt_Pagination select:focus {
  background-color: transparent !important;
  color: #fff !important;
  outline: none;
 
} */

/* Target disabled buttons if you had issues with those too */
/* .rdt_Pagination .fbuBwg {
  background-color: rgba(255, 255, 255, 0.1) !important;
} */

/* Style when the user hovers over the header */
.rdt_TableCol :hover {
  background-color: transparent !important; /* Lighter background color on hover */
}