.content-area button
{
  width: auto;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4caf50;
    font-size: 16px;
    width: 80px;
}

.css-b62m3t-container{
    padding-top: 5px;
}

details {
    padding: 10px;
    text-align: left;
  }
  
  summary {
    cursor: pointer;
    padding: 10px 10px;
    background-color: #4caf50;
    color: white;
  }
  
  /* Style the content when the details element is open */
  details[open] .content {
    border-top: 1px solid #eee;
    padding-top: 10px;
  }

  .homeDiv
  {
    padding: 0.5rem 0.5rem;
  }
    .subHomeDiv
  {
    padding: 0.5rem 5.5rem;
  }

  .search {
    display: flex;
    justify-content: space-between;
  }
  .search input{
    padding: 0 5px;
    height: 30px;
  }

  .listbutton{
    padding: 8px 10px;
    margin: 5px;
  }

  .rdt_TableHeadRow{
    background-color: #f5f5f5 !important;
    padding-left: 10px;
  }

  .rdt_TableRow .lknooH{
    padding: 0px;
    margin: 0px;
  }
  .listbutton button{
    padding: 5px 10px;
    margin: 0px;
    width: 80px;
  }
  .rdt_TableCol
  {
    padding: 0px !important;
  }

  .product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  }
  .subcat-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
  }
  .product-list h3{
    margin-right: 10px;
  }

  .product-list i{
    cursor: pointer;
  }