body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  background-color: #1F06D4;
}

.content-area {
  text-align: center;
}

.quill {
  /* margin: auto;
    padding: auto;*/
    padding-top: 5px;
  box-sizing: initial;
  /* font-family: sans-serif; */
  text-align: initial;
  /* height: 200px; */
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: initial !important;
}

.ql-toolbar.ql-snow {
  padding: initial !important;
}

.ql-editor {
  height: 200px !important; /* Set your desired fixed height */
  overflow-y: auto !important; /* Adds a vertical scrollbar if content overflows */
  padding-bottom: 12px !important; /* Optional: Adds some padding at the bottom for aesthetics */
}

/* Optional: Ensure the outer container adjusts correctly */
.ql-container {
  height: auto !important;
}

.alert
{
  font-size: smaller;
  color: yellow !important;
}

/* Make the background of the success icon container transparent */
.Toastify__toast--success .Toastify__toast-icon {
  background-color: transparent !important;
}

/* Make the background of the error icon container transparent */
.Toastify__toast--error .Toastify__toast-icon {
  background-color: transparent !important;
}

/* Optional: Ensure the main toast body background is consistent if needed */
.Toastify__toast--success {
    background-color: white !important;
}

.Toastify__toast--error {
    background-color: white !important;
}
